/* Basic styles */
.skeleton {
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 4px;

  &.text {
    /*width: 100%;*/
    height: 12px;
  }

  &.title {
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
  }

  &.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &.thumbnail {
    width: 100px;
    height: 100px;
  }
}

.skeleton-wrapper {
  margin: 20px auto;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}

/* Skeleton profile */
.skeleton-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
}

/* Animation styles */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2s infinite;

  .shimmer {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
  }
}

@keyframes loading {
  0% {
    transform: translateX(-150%)
  }
  /*50% {*/
  /*  transform: translateX(60%)*/
  /*}*/
  100% {
    transform: translateX(150%)
  }
}
